.avatar {
    max-height:30px;
    border-radius: 15px;
    width:auto;
    vertical-align:middle;
}
.room-nav-link {
    border: 1px solid rgba($color: #e5f2fe, $alpha: 1.0);
    background: rgba($color: #e5f2fe, $alpha: 1.0);
    border-radius: 5px;
    & + .room-nav-link {
      border-top: 0 none;
    }
}

.chat {
    border: 1px solid rgba($color: #f3f4f5, $alpha: 1.0);
    background: rgba($color: #dadddf, $alpha: 1.0);
    height: 50vh;
    border-radius: 5px 5px 0 0;
    overflow-y: auto;
    .chat-message-container {
        padding: 5px;
      
        .avatar {
          margin: 5px;
        }
      
        .message-content {
          padding: 5px;
          border: 1px solid rgba($color: #3b96fa, $alpha: 1.0);
          border-radius: 5px;
          background: rgba($color: #a2b9f6, $alpha: 1.0);
          color: white;
        }
      
        & + .chat-message-container {
          margin-top: 10px;
        }
      }
}
  
.chat-input {
    border-top: 0 none;
    border-radius: 0 0 5px 5px;
}